[user]
	name = k-nanchi
	email = kaito@siba-service.jp

[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig

[delta]
  features = catppuccin-latte
  line-numbers = true
  side-by-side = true

[url "git@github.com:"]
    insteadOf = https://github.com/

[ghq]
    user = kaito-siba
    root = ~/src/hobby

[ghq "https://github.com/sibaservice"]
    root = ~/src/work

[ghq "https://siba.backlog.jp"]
    root = ~/src/work
