{{- if eq .chezmoi.hostname "ssv-cle-0012l01"}}
[user]
	name = k-nanchi
	email = kaito@siba-service.jp
{{- end }}

[ghq]
  root = ~/src

[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig

[delta]
  features = catppuccin-latte
  line-numbers = true
  side-by-side = true

